:root {
  --input-color: black;
  --textarea-height: 0px;
  --textarea-width: 0px;
}

.input-container {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

label {
  color: #333333;
}

input,
textarea {
  box-sizing: border-box;
  border: 1px solid;
  outline-color: #828282;
  border-radius: 8px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

input {
  width: 200px;
  height: 56px;
}

textarea {
  overflow: hidden;
  resize: none;
}

input:hover,
textarea:hover {
  outline-color: #333333;
}

input:focus,
textarea:focus {
  outline-color: var(--primary);
}

input.sm {
  width: 200px;
  height: 40px;
}

input.inherit-width.sm {
  width: inherit;
}

input.error,
textarea.error,
input.error:focus,
textarea.error:focus {
  border-color: var(--danger);
  outline-color: var(--danger);
}

label.error {
  color: var(--danger);
}

p {
  color: #828282;
  margin: 0px;
  font-size: 10px;
}

p.error {
  color: var(--danger);
}

.text-color {
  color: var(--input-color);
}

.input-box-container {
  width: 100%;
  position: relative;
}

.inherit-width {
  width: inherit;
}

.box-icon {
  /* z-index: 9999; */
  position: absolute;
  top: 8px;
  padding: 10px 10px;
  color: #828282;
}

.box-icon.sm {
  top: 2px;
}

.box-icon.multiline {
  top: 2px;
}

.add-icon-start {
  padding-left: 30px;
}
.add-icon-end {
  padding-right: 30px;
}

.box-icon.multiline.icon-end-fixed-width {
  top: calc(var(--textarea-height) - 38px);
  left: calc(var(--textarea-width) - 38px);
}

.box-icon.multiline.icon-end {
  top: calc(var(--textarea-height) - 38px);
}

.icon-start {
  left: 0;
}

.icon-end-fixed-width {
  left: calc(200px - 38px);
}

.icon-end {
  right: 0;
}
