button {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* text-align: center; */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Size */
button.sm {
  min-width: 73px;
  min-height: 32px;
}
button.lg {
  min-width: 93px;
  min-height: 42px;
}
button.md {
  min-width: 81px;
  min-height: 36px;
}

/* Icons */
.material-icons {
  font-size: 16px;
  padding: 0px 5px;
}

/* Variants */
button.default {
  background: var(--default);
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: #3f3f3f;
}
button.default:hover {
  background: var(--default-dark);
}
button.default:focus {
  background: var(--default-dark);
}

button.outline {
  border: 1px solid #3d5afe;
  color: #3d5afe;
  background-color: white;
}
button.outline:hover {
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3d5afe;
}
button.outline:focus {
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3d5afe;
}

button.text {
  background: transparent;
  border: none;
  color: #3d5afe;
}
button.text:hover {
  background: #2962ff1a;
}
button.text:focus {
  background: #2962ff1a;
}

/* Color Variants */
button.primary {
  color: white;
  background: var(--primary);
  box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}
button.primary:hover {
  background: var(--primary-dark);
}

button.secondary {
  color: white;
  background: var(--secondary);
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
}
button.secondary:hover {
  background: var(--secondary-dark);
}
/* button.secondary.outline {
  border: 1px solid var(--secondary-dark);
  color: var(--secondary-dark);
  background-color: white;
}
button.secondary.outline:hover {
  background: #6c7173;
}
button.secondary.outline:focus {
  background: #6c7173;
}
button.secondary.text {
  background: transparent;
  border: none;
  color: var(--secondary-dark);
}
button.secondary.text:hover {
  background: #6c7173;
}
button.secondary.text:focus {
  background: #6c7173;
} */

button.danger {
  color: white;
  background: var(--danger);
  box-shadow: 0px 2px 3px 0px #d32f2f33;
}
button.danger:hover {
  background: var(--danger-dark);
}
/* button.danger.outline {
  border: 1px solid var(--danger-dark);
  color: var(--danger-dark);
  background-color: white;
}
button.danger.outline:hover {
  background: #de9296;
}
button.danger.outline:focus {
  background: #de9296;
}
button.danger.text {
  background: transparent;
  border: none;
  color: var(--danger-dark);
}
button.danger.text:hover {
  background: #de9296;
}
button.danger.text:focus {
  background: #de9296;
} */

/* Disabled button */
button:disabled {
  background: var(--default);
  border: none;
  color: rgba(158, 158, 158, 1);
}
button:disabled:hover {
  background: var(--default);
  border: none;
  color: rgba(158, 158, 158, 1);
}
button:disabled:focus {
  background: var(--default);
  border: none;
  color: rgba(158, 158, 158, 1);
}
/* Special case for text type */
button.text:disabled {
  background: transparent;
}

/* Shadow Disabled */
button.no-shadow {
  box-shadow: none;
}
